@import 'index';

.content {
    box-shadow: 1px 1px 10px $box-shadow-light;
    border-radius: 0px 10px 10px 0px;
    height: 100vh;
    #logo {
        height: 100px;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 10px;
            text-align: center;
        }
    }
    background-color: grey;
}
