@import 'index';
#main-content {
    display: flex;
    height: 100%;
    #sidebar {
        width: 15vw;
    }
    #content {
        width: 85vw;
    }
}
// .content {
//     height: 100vh;
//     width: 100vw;
//     display:flex;
//     flex-flow:row wrap;
//     .navbar {
//         height: 100%;
//         width: calc(85vw - 100px);
//         display: flex;
//         justify-content: flex-end;
//         align-items: center;
//         padding: 10px 50px;
//         color: $light-gray;
//         i {
//             font-size: 24px;
//             margin-right: 5px;
//         }
//     }
// }
#content {
    background-color: indianred;
}
