@import 'index';

:host {
    width: 15vw;
    height: 100vh;
}

.content {
    width: 15vw;
    box-shadow: 1px 1px 10px $box-shadow-light;
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
    #logo {
        height: 100px;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 10px;
            text-align: center;
        }
    }
}
